<div class="divform">

  <h1 class="center">{{ title }}</h1>

  <form [formGroup]="form" (ngSubmit)="salvar(dados)" *ngIf="form">
    <fieldset>
      <div class="label">
        <label for="idNomeCliente">Nome de Cliente:</label>
      </div>
     <input type="text" formControlName="NomeCliente" placeholder="Informe o nome do cliente" [(ngModel)]="dados.NomeCliente" id="nomeCliente" name="nomeCliente"/>

     <div class="label">
      <label>Email de Cliente:</label>
     </div>
     <input type="text" formControlName="EmailCliente" placeholder="informe o email do cliente" [(ngModel)]="dados.EmailCliente" id="emailCliente" name="emailCliente"/>

     <div class="label">
      <label>Cpf de Cliente:</label>
     </div>
     <input type="text" mask="000.000.000-00" formControlName="Cpf" placeholder="informe o cpf" [(ngModel)]="dados.Cpf" id="cpf" name="cpf"/>

     <button type="submit" class="botao">Cadatrar Cliente</button>
     <button type="submit" (click)="limparCampos()" class="botao">Limpar campo</button>
    </fieldset>
  </form>
  <div *ngIf="mensagem" class="mensagem">
    {{ mensagem }}
  </div>

  <button (click)="goToConsultaPage()" class="botao">Ir para a Página de Consulta</button>

</div>
<router-outlet></router-outlet>
