<div className="center">

  <h1>{{ title }}</h1>

  <form [formGroup]="form" (ngSubmit)="salvar(dados)" *ngIf="form">
     Nome de Cliente:<input type="text" formControlName="NomeCliente" [(ngModel)]="dados.NomeCliente" id="nomeCliente" name="nomeCliente"/>
     <br/><br/>
     Email de Cliente:<input type="text" formControlName="EmailCliente" [(ngModel)]="dados.EmailCliente" id="emailCliente" name="emailCliente"/>
     <br/><br/>
     Cpf de Cliente:<input type="text" formControlName="Cpf" [(ngModel)]="dados.Cpf" id="cpf" name="cpf"/>
     <hr/>
     <button type="submit">Cadatrar Cliente</button>
  </form>

</div>
