<div className="center">

  <h1>{{ title }}</h1>

  <form [formGroup]="form" *ngIf="form">
     Nome de Cliente:<input type="text" formControlName="nomeCliente" id="nomeCliente" name="nomeCliente"/>
     <br/><br/>
     Email de Cliente:<input type="text" formControlName="emailCliente" id="emailCliente" name="emailCliente"/>
     <br/><br/>
     Cpf de Cliente:<input type="text" formControlName="cpf" id="cpf" name="cpf"/>
     <hr/>
     <input type="submit" name="Cadatrar Cliente"/>
  </form>

</div>
